.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-user-settings {
  background-color: #1a063a;
  border: 2px solid #a678f2;
  border-radius: 30px;
  padding: 32px 40px;
  width: 100%;
  max-width: 460px;
  box-shadow: 0 0 20px rgba(185, 104, 255, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-simple {
  max-height: 220px;
}

.modal-admin {
  max-height: 600px;
}


.modal-title {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 4px;
  align-self: flex-start;
}

.role-group {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 16px;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}

.btn-primary {
  background-color: white;
  color: #330072;
  font-weight: bold;
  padding: 5px 24px;
  border-radius: 999px;
}

.btn-secondary {
  background-color: #45385c;
  color: white;
  font-weight: bold;
  padding:5 px 24px;
  border-radius: 999px;
}
.section-title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}

.admin-select {
  width: 100%;
  padding: 8px 16px;
  border-radius: 12px;
  border: 2px solid #a678f2;
  background: transparent;
  color: white;
  font-size: 14px;
  margin-top: 4px;
}

.admin-select option {
  background-color: #1a063a;
  color: white;
}

hr {
  border: none;
  border-top: 1px solid #553472;
  margin: 20px 0 12px;
}

.cards-editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.editable-card {
  background: #330072;
  color: white;
  border-radius: 8px;
  padding: 6px 10px;
  position: relative;
  font-weight: bold;
  cursor: default;
}

.delete-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
  cursor: pointer;
}

.card-input {
  display: flex;
  gap: 8px;
}

.card-input input {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #a678f2;
  flex: 1;
}

.card-input button {
  background: #a678f2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
}
  