:root {
  --bg-color: radial-gradient(ellipse at center, #351385 0%, #2b0452 100%);
  --text-color: white;
  --accent-color: #bb86fc;
}

body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  align-items: center;
  height: 100vh;
}

